* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
    text-align: center;
    margin-top: 2rem;
}

body {
    width: 80%;
    margin: 0 auto;
}

h1 {
    font-size: 3rem;
    text-decoration-line: underline;
}

#container {
    margin: 10rem auto;
    width: 80%;
    height: 60rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.countDownClass {
    border: 0.1rem solid black;
    width: 25%;
    height: 40rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    background-color: whitesmoke;
}

#screen {
    border: 0.1rem solid black;
    width: 80%;
    height: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.18);
}

button {
    width: 30%;
    height: 10%;
}

#start {
    background-color: rgba(0, 0, 255, 0.45);
}

#stop {
    background-color: rgba(255, 0, 0, 0.62);
}

#newCountDown > button {
    width: 80%;
}

.time {
    border: 0.1rem solid black;
    width: 20%;
    background-color: gray;
}

input[type=date] {
    width: 80%;
    text-align: center;
}